.case-list
    padding-top: 10px
    padding-bottom: 20px
    @media(max-width: 759px)
        padding-bottom: 60px
    .case
        margin-bottom: 30px
        @media(max-width: 469px)
            width: 100%
            margin-bottom: 20px
            .img-tran
                width: 100%
        .content
            padding: 20px 15px
            background-color: #fcfcfc
            transition: all 1s cubic-bezier(0.175,0.885,0.32,1) 0s;
            .title
                font-size: 18px
                font-weight: bold
                color: #383838
                margin-bottom: 10px
                overflow: hidden 
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                text-overflow: ellipsis;   
            p
                color: #818188
                span
                    font-weight: bold
                    color: #5b5b5b
        &:hover
            .content
                background-color: #ce421d
                .title
                    color: #ffffff
                p
                    color: #ffffff
                    span
                        color: #ffffff
@media(min-width: 760px)
    .clear-fix.line-3
        display: block
    .clear-fix.line-2
        display: none

@media(max-width: 759px)
    .clear-fix.line-2
        display: block
    .clear-fix.line-3
        display: none

.case-main
    .content
        background-color: #fcfcfc
        padding: 30px 20px 20px
        margin-bottom: 30px
        @media(min-width: 1000px)
            padding: 20px 20px
        @media(min-width: 1200px)
            padding: 30px 20px
            height: 260px
        .title
            color: #ffffff
            font-size: 20px
            line-height: 60px
            height: 60px
            background-color: #ce421d
            text-align: center
            border-radius: 5px
            margin-left: -20px
            margin-right: -20px
            margin-bottom: 20px
            @media(min-width: 1200px)
                margin-bottom: 30px
        p
            color: #808080
            font-size: 14px
            line-height: 35px
            @media(min-width: 1200px)
                line-height: 40px
            span
                font-weight: bold
                color: #6a6a6a
    p
        color: #808080
        font-size: 14px
        line-height: 30px
        margin-bottom: 10px
        span
            font-weight: bold
            color: #6a6a6a