.contact-p
    text-align: center
    margin: 30px 10px
.index-au 
    @media(max-width: 759px)
        padding-bottom: 20px
    .grey-side
        @media(max-width: 759px)
            margin-bottom: 20px

form
    padding-bottom: 50px
    @media(max-width: 759px)
        padding-bottom: 80px
    .msg-title
        text-align: center
        background-color: #ce421d
        font-size: 18px
        color: #ffffff
        line-height: 40px
        height: 40px
        width: 260px
        margin: 30px auto 20px
        .img-ib
            padding-left: 13px
            padding-bottom: 14px
    .form-group
        .label
            label
                color: #5a5a5a
                font-size: 16px
                font-weight: normal
        .input
            margin-bottom: 10px
            width: 100%
            border-radius: 0px
            box-shadow: none
    .form-button
        text-align: center
        margin-top: 15px
        .submit
            font-size: 16px
            height: 40px
            line-height: 40px
            text-align: center
            width: 170px
            color: #5a5a5a
            border: 1px solid #a0a0a0
            border-radius: 0px
            padding: 0px
            margin-right: 10px
        .reset
            font-size: 16px
            height: 40px
            line-height: 40px
            text-align: center
            background-color: #ce421d
            width: 170px
            color: #ffffff
            border: 1px solid #ce421d
            border-radius: 0px
            margin-left: 10px
